.idea
.idea
cred.sh
*.csv
.terraform/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log
*.egg-info
dist
build
node_modules

/local_data/
venv/
tmp
.coverage
htmlcov/
.pytest_cache
/handlers/formapi_createform/local_settings.py
.DS_Store
SQL/db_settings.py
SQL/local_settings.txt
/alembic-local.ini
.run

# terraform
/terraform/.terraform/
/terraform/build/
/terraform/.terraform.lock.hcl
/terraform/apply.tfplan
/terraform/**/variables/local/**
/terraform/reserve.tfvars
/terraform/output.json
local.tfvars
/terraform/infrastructure/errored.tfstate
/terraform/infrastructure/output.json
/terraform/infrastructure/.terraform.lock.hcl
/terraform/infrastructure/.terraform/
/terraform/**/rendered/**